.LogoContainer {
    position: absolute;
    left: 20vw;
    top: 40vh;
    width: 25vw;
    display: relative;
}

/* :root {
    --tagline-width: ;
} */

.tagline {
    font-family: "Raleway Light";
    color: white;
    font-size: 26px;
    font-weight: 200;
    text-align: end;
    margin: auto;
    margin-top: -50px;
    margin-right: 22px;
    width: 60%;
    right: 0px;
    position: absolute;
}

.logo {
    width: 100%;
    height: auto;
}