.PanelContainer {
    border:0.2vw solid silver;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 59.58vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}   

.video-section {
    width: 50%;
    height: 100%;
}

.monitor-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.monitor-wrapper video {
    width: 100%;
    height: auto;
}

.animated-background {
    width: 550px;
    height: 600px;
    background: linear-gradient(45deg, #ff0099, #493240, #f3f315, #00f2fe);
    background-size: 400% 400%;
    position: relative;
    overflow: hidden;
    animation: gradientAnimation 15s ease infinite;
}

.service-content {
    position: absolute;
    z-index:100;
    font-family: "Raleway Light";
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 3px;
}

.service-content p{
    font-size: 1vw;
    margin: 3px 0px;
}

.service-content h3 {
    font-size: 1.2vw;
    margin: 0px;
}

.marketing-digital {
    color: Black;
    font-family: "Raleway Light";
    top: 20%;
    left: 3%;
}

.identidad-digital {
    color: white;
    font-family: "Raleway Light";
    bottom: 10%;
    left: 3%;
}

.branding {
    color: white;
    font-family: "Raleway Light";
    top: 20%;
    left: 53%;
}

.desarrollo-web {
    color: white;
    font-family: "Raleway Light";
    bottom: 10%;
    left: 53%;
}
