.LogoContainer {
    position: absolute;
    left: 20vw;
    top: 40vh;
    width: 25vw;
}

.logo {
    width: 100%;
    height: auto;
}

/* :root {
    --tagline-width: ;
} */

.tagline {
    font-family: "Raleway Light";
    color: white;
    position: absolute;
    font-size: 1.2vw;
    font-weight: 200;
    text-align: end;
    width: 60%;
    right: 0px;
    bottom: -15%;
}

.slogan {
    font-family: 'Convergence', sans-serif;
    position: absolute;
    left: 22vw;
    top: 35vh;
    width: 25vw;
    color: white;
    font-size: 3.5vw;
    font-weight: 300;
}

.description{
    font-family: "Raleway Light";
    position: absolute;
    left: 22vw;
    top: 40vh;
    width: 25vw;
    display: relative;
    color: white;
    font-size: 1.2vw;
    font-weight: 200;   
}