body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Raleway Light";   /*Can be any text*/
  src: local("Figura Branding font | Taglines and Subtitles"),
    url("./fonts/Raleway-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Convergence-Regular";   /*Can be any text*/
  src: local("Figura Branding font | Slogan"),
    url("./fonts/Convergence-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "JosefinSans";
  /*Can be any text*/
  src: local("Figura Branding font | Services"),
    url("./fonts/Raleway-Light.ttf") format("ttf");
}