@media (orientation: portrait) {
.contact-icons {
        position: fixed;
        bottom: 4vw;
        left: 3vh;
        display: inline-flex;
        gap: 15px;
        z-index: 999;
    }

    .contact-icon {
        height: auto;
        cursor: pointer;
        width: 12vw;
    }

    .sculpture-figura {
        height: auto;
        width: 50vw;
        top: calc(100vh * 0.35);
        right: 0;
        transition: transform 1s ease;
        position: absolute;
    }

    .sculpture-position-act-4 {
        transition: transform 1s ease;
        transform: translateY(calc(-5vh));
    }
}

@media (orientation: landscape) {
.contact-icons {
    display:none;
        position: fixed;
        bottom: 2vw;
        left: 3vh;
        display: inline-flex;
        gap: 25px;
        z-index: 999;
    }

    .contact-icon {
    display: none;
        width: 50%;
        height: auto;
        cursor: pointer;
        width: 3vw;
    }

    .sculpture-figura {
        height: auto;
        width: 150vw;
        top: calc(100vh * 0.18);
        left: calc(100vw * 0.30);
        transition: transform 1s ease;
        position: absolute;
    }

    .sculpture-position-act-4 {
        transition: transform 1s ease;
        transform: translateY(calc(-170vh));
    }
}