.contact-icons {
    position: fixed;
    width: 6vw;
    bottom: 2vw;
    left: 3vh;
    display:inline-flex;
    gap: 25px;
}

.contact-icon {
    width: 50%;
    height: auto;
}

.sculpture-figura {
    height: auto;  
    width: 75vw;
    top: calc(100vh * 0.18);
    left: calc(100vw * 0.30);
    transition: transform 1s ease;
    position: absolute;
}

.sculpture-position-act-4 {
    transition: transform 1s ease;
    transform: translateY(calc(-170vh));
}
